name: CI
on:
  pull_request: ~
  push: ~
jobs:
  verify:
    name: PHP ${{ matrix.php-version }} ${{ matrix.description }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            description: 'with the lowest dependencies'
            php-version: '8.1'
            composer_flags: '--prefer-lowest'
          - os: ubuntu-latest
            php-version: '8.2'
          - os: ubuntu-latest
            php-version: '8.3'
          - os: macos-latest
            description: 'on macOS'
            php-version: '8.3'
          - os: windows-latest
            description: 'on Windows'
            php-version: '8.3'
          - os: ubuntu-latest
            php-version: '8.4'
            composer_flags: '--ignore-platform-reqs'
    runs-on: ${{ matrix.os }}
    env:
      PHP_CS_FIXER_IGNORE_ENV: 1
    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: none, ctype, curl, dom, json, mbstring, opcache, openssl, simplexml, tokenizer, xml, xmlwriter
          coverage: pcov

      - run: php -r 'var_dump(PHP_OS_FAMILY);'
      - run: composer update --no-progress ${{ matrix.composer_flags }}

      - run: composer verify
