name: CI
on:
  pull_request: ~
  push: ~
jobs:
  verify:
    name: PHP ${{ matrix.php-version }} ${{ matrix.description }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            description: 'with lowest dependencies'
            php-version: '7.4'
            composer_flags: '--prefer-lowest'
          - os: ubuntu-latest
            php-version: '7.4'
          - os: ubuntu-latest
            php-version: '8.0'
          - os: ubuntu-latest
            php-version: '8.1'
          - os: ubuntu-latest
            php-version: '8.2'
          - os: macos-latest
            description: 'on macOS'
            php-version: '8.3'
          - os: ubuntu-latest
            php-version: '8.3'
          - os: windows-latest
            description: 'on Windows'
            php-version: '8.3'
          - os: ubuntu-latest
            description: 'with shim package'
            php-version: '8.3'
            use-shim-package: true
          - os: ubuntu-latest
            php-version: '8.4'
            composer_flags: '--ignore-platform-reqs'
    runs-on: ${{ matrix.os }}
    env:
      PHP_CS_FIXER_IGNORE_ENV: 1
    steps:
      - uses: actions/checkout@v3

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: none, curl, dom, json, mbstring, opcache, openssl, simplexml, tokenizer, xml, xmlwriter
          coverage: none

      - if: ${{ matrix.use-shim-package }}
        run: sed -i 's#friendsofphp/php-cs-fixer#php-cs-fixer/shim#g' composer.json

      - run: composer update --no-progress ${{ matrix.composer_flags }}

      - run: composer verify
