name: CI

on:
  pull_request: ~
  push:
    branches:
      - 'main'

jobs:
  verify:
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]
        php-version: [ '8.0' ]
        include:
          - os: ubuntu-latest
            php-version: '8.2'
          - os: ubuntu-latest
            php-version: '8.1'
          - os: ubuntu-latest
            php-version: '8.0'
            composer_flags: '--prefer-lowest'
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: none

      - name: Get composer cache directory
        id: composer-cache
        run: echo '::set-output name=dir::$(composer config cache-files-dir)'

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-

      - name: Install dependencies
        run: composer update --no-progress ${{ matrix.composer_flags }}

      - name: Verify
        run: composer verify
